@use '../abstracts/variables' as var;

.footer {
  --bs-heading-color: var(--bs-white);
  position: relative;
  z-index: 1;
  background-color: var(--bs-gray-900);
  font-size: 0.9rem;
  color: var(--bs-gray-500);
}

.footer::before {
  content: '';
  position: absolute;
  right: 2rem;
  bottom: 3.5rem;
  z-index: -1;
  width: 12rem;
  height: 12rem;
  background: url('../images/logo-decoration.png') center/contain no-repeat;
  filter: grayscale(1) opacity(0.15) brightness(0.4);
}

.footer-logo img {
  width: 17.5rem;
  height: auto;
}

.img-lkpp {
  width: 7.5rem;
}
