@use '../abstracts/variables' as var;

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.active {
  color: #151515;
  background-color: #ffc451;
}

.portfolio .portfolio-inner .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-inner .portfolio-links a:hover {
  color: #ffc451;
}

.portfolio .portfolio-inner:hover .portfolio-info {
  opacity: 1;
}
