/*--------------------------------------------------------------
# Section Hero
--------------------------------------------------------------*/
.section-hero {
  height: calc(100vh - 6rem);
}

.hero-slide-img,
.hero-slide-img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-slide-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.hero-slide-img::after {
  content: '';
  background-color: color-mix(in srgb, var(--bs-gray-900) 60%, transparent);
}

.hero-slide-img + .container {
  position: relative;
  z-index: 1;
}

.hero-slide-content {
  color: var(--bs-white);
}

.hero-slide-content .h1 {
  --bs-heading-color: var(--bs-white);
}

.hero-slide-content p {
  font-size: 1.125rem;
  color: var(--bs-gray-300);
}

.hero-swiper .swiper-pagination-bullet {
  background-color: #fff;
}

.hero-swiper.swiper-horizontal > .swiper-pagination-bullets {
  --swiper-pagination-bottom: 24px;
}

/*--------------------------------------------------------------
# Section Partners
--------------------------------------------------------------*/
.section-partners h2 {
  letter-spacing: 1.2px;
}

.partners-swiper img {
  filter: grayscale(1);
  opacity: 0.5;
  transition: all 0.3s;
}

.partners-swiper img:hover {
  filter: grayscale(0);
  opacity: 1;
}

/*--------------------------------------------------------------
# Section Specialize
--------------------------------------------------------------*/
.section-specialize .card {
  --bs-card-bg: transparent;
}

.service-icon img {
  height: 3rem;
}

/*--------------------------------------------------------------
# Section Products
--------------------------------------------------------------*/
.section-products .nav {
  --bs-nav-link-font-size: 1rem;
}

/*--------------------------------------------------------------
# Section Customers
--------------------------------------------------------------*/
.customers-swiper img {
  filter: grayscale(1);
  opacity: 0.6;
  transition: all 0.3s;
}

.customers-swiper img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.customers-swiper .swiper-pagination {
  position: static;
  margin-top: 0.2rem;
}

/*--------------------------------------------------------------
# Section Instagram Feed
--------------------------------------------------------------*/
.instafeed-swiper .swiper-slide {
  display: flex;
  align-items: center;
  height: auto;
  background-color: var(--bs-gray-900);
  border-radius: var(--bs-border-radius);
  overflow: hidden;
}

.instafeed-swiper .card {
  --bs-card-border-radius: 0;
  --bs-card-inner-border-radius: 0;
}

@media (max-width: 575px) {
  .hero-slide-content .h1 {
    font-size: 1.65rem;
  }
  
  .hero-slide-content p {
    font-size: 1rem;
  }
}
