@charset "UTF-8";
:root {
  --bs-body-bg: var(--bs-white);
  --bs-body-font-family: Inter, sans-serif;
  --bs-body-font-size: 0.938rem;
  --bs-body-color: var(--bs-gray-600);
  --bs-heading-color: var(--bs-gray-900);
  --bs-primary-rgb: 204, 187, 0;
  --bs-link-color-rgb: inherit;
  --bs-link-hover-color-rgb: 255, 234, 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: all 0.24s;
}

img {
  max-width: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.25px;
}

.h1,
h1 {
  font-size: 1.802rem;
}

.h2,
h2 {
  font-size: 1.602rem;
}

.h3,
h3 {
  font-size: 1.424rem;
}

.h4,
h4 {
  font-size: 1.266rem;
}

.h5,
h5 {
  font-size: 1.125rem;
}

.h6,
h6 {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

.text-gray-500 {
  color: var(--bs-gray-500);
}

.text-gray-600 {
  color: var(--bs-gray-600);
}

.text-gray-700 {
  color: var(--bs-gray-700);
}

.btn-sm {
  min-width: 1.875rem;
}

.btn-primary {
  --bs-btn-bg: #ccbb00;
  --bs-btn-border-color: #ccbb00;
  --bs-btn-hover-bg: #b8a800;
  --bs-btn-hover-border-color: #b8a800;
  --bs-btn-active-bg: #a39600;
  --bs-btn-active-border-color: #a39600;
  --bs-btn-disabled-bg: #ccbb00;
  --bs-btn-disabled-border-color: #ccbb00;
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-gray-900);
  --bs-btn-border-color: #ccbb00;
  --bs-btn-hover-color: #ccbb00;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #ccbb00;
  --bs-btn-active-bg: #ccbb00;
  --bs-btn-active-border-color: #ccbb00;
  --bs-btn-disabled-color: #ccbb00;
  --bs-btn-disabled-border-color: #ccbb00;
}

.link-underline {
  text-decoration-line: underline;
}

.bg-dark .link-underline {
  --bs-link-color-rgb: var(--bs-white-rgb);
}

.gap-3-cs {
  gap: 0.75rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.mb-6 {
  margin-bottom: 2.5rem !important;
}

.mb-7 {
  margin-bottom: 3rem !important;
}

@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 992px) {
  .mb-lg-5 {
    margin-bottom: 2rem !important;
  }
  .mb-lg-6 {
    margin-bottom: 2.5rem !important;
  }
  .mb-lg-7 {
    margin-bottom: 3rem !important;
  }
}
.gy-5 {
  --bs-gutter-y: 2rem !important;
}

.gy-6 {
  --bs-gutter-y: 2.5rem !important;
}

.gy-7 {
  --bs-gutter-y: 3rem !important;
}

.container {
  --bs-gutter-x: 3rem;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-color: var(--bs-gray-600);
  --bs-nav-link-hover-color: var(--bs-gray-900);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
}

.navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-color: var(--bs-heading-color);
  --bs-navbar-hover-color: #ccbb00;
  --bs-navbar-active-color: #ccbb00;
}

.navbar-brand {
  --bs-navbar-brand-padding-x: 0;
  --bs-navbar-brand-padding-y: 0;
}

.navbar-nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 1rem;
  --bs-navbar-nav-link-padding-x: 1.5rem;
}

.nav-tabs {
  --bs-nav-link-padding-y: 0.75rem;
  --bs-nav-tabs-link-active-color: var(--bs-heading-color);
  --bs-nav-tabs-link-active-border-color: #ccbb00 #ccbb00
    var(--bs-body-bg);
  --bs-nav-tabs-border-color: #ccbb00;
}

.nav-tabs .nav-link:not(.active):focus,
.nav-tabs .nav-link:not(.active):hover {
  --bs-nav-tabs-link-hover-border-color: transparent;
  background-color: #f5f5f5;
}

.nav-link {
  --bs-nav-link-font-weight: 500;
  text-align: left;
}

.nav-underline {
  --bs-nav-underline-border-width: 0;
}

.nav-underline .nav-link {
  position: relative;
}

.nav-underline .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ccbb00;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-underline .nav-link.active {
  font-weight: 500;
}

.nav-underline .nav-link.active::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card {
  --bs-card-border-width: 0;
}

.form-control::-moz-placeholder {
  color: var(--bs-secondary-color);
  opacity: 0.6;
}

.form-control::placeholder {
  color: var(--bs-gray-500);
  opacity: 0.6;
}

.navbar-toggler {
  --bs-navbar-toggler-font-size: 1.375rem;
}

.navbar-toggler-icon {
  background-image: none;
  color: var(--bs-white);
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    justify-content: space-between;
  }
  .navbar-expand-lg .offcanvas {
    flex-grow: initial;
  }
  .navbar {
    --bs-navbar-color: var(--bs-white);
    --bs-navbar-hover-color: #ffea00;
    --bs-navbar-active-color: #ffea00;
  }
  .navbar-nav {
    --bs-nav-link-padding-x: 1.5rem;
  }
  .nav-underline.flex-lg-column .nav-link {
    padding: 0.5rem 1.25rem;
  }
  .nav-underline.flex-lg-column .nav-link::before {
    top: 0;
    left: -1px;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom left;
  }
  .nav-underline.flex-lg-column .nav-link.active::before {
    transform: scaleY(1);
    transform-origin: top left;
  }
}
@media (max-width: 1199px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: none;
  }
}
.swiper-slide {
  cursor: grab;
  overflow: hidden;
}

.swiper-pagination-bullet {
  border-radius: 4px;
  transition: all 0.4s;
}

.swiper-pagination-bullet-active {
  width: 20px;
  background-color: #1f2937;
  opacity: 0.8;
}

.section {
  --section-spacer-y: 5rem;
  --section-spacer-x: 0;
  --section-bg: var(--bs-body-bg);
  --section-color: var(--bs-body-color);
  padding: var(--section-spacer-y) var(--section-spacer-x);
  background-color: var(--section-bg);
  color: var(--section-color);
}

.section.bg-dark .swiper-pagination-bullet {
  background-color: #fff;
}

.section.bg-light {
  --section-color: var(--bs-gray-700);
}

.section.bg-dark {
  --bs-heading-color: var(--bs-white);
  --section-bg: transparent;
  --section-color: var(--bs-gray-500);
}

.title-underline {
  margin: 0.3rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.title-underline::after {
  content: "";
  display: block;
  width: 2rem;
  height: 3px;
  background-color: #ccbb00;
  margin-top: 0.5rem;
}

.btn-icon {
  --bs-btn-border-radius: 4px;
}

.img-effect {
  position: relative;
}

.img-effect img {
  position: relative;
  z-index: 1;
}

.dotted::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'><circle cx='50' cy='50' r='15' fill='%23d2aa78'></circle></svg>");
  background-size: 0.5rem;
}

.img-effect.dotted.last::before {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.social-link {
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-hover-color: #ffea00;
  --bs-btn-active-color: #ffea00;
  --bs-btn-active-border-color: transparent;
  --bs-btn-font-size: 1.1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.swiper {
  width: 100%;
}

.card-element-hover {
  cursor: pointer;
  overflow: hidden;
}

.card-element-hover .card-img {
  transition: all 0.3s ease-in-out;
}

.card-element-hover:hover .card-img {
  transform: scale(1.06);
}

.card-element-hover .card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  color: var(--bs-white);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.card-element-hover:hover .card-img-overlay {
  visibility: visible;
  opacity: 1;
}

.tab-pane li {
  display: flex;
  gap: 0.5rem;
}

.tab-pane .fa-circle {
  padding-top: 0.5rem;
  font-size: 0.3125rem;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 959px) {
  .menu-mobile {
    display: block;
  }
  .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul {
    display: none;
  }
  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  .menu > ul > li a {
    padding: 1.5em;
    width: 100%;
    display: block;
  }
  .menu > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  .menu > ul > li > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu .show-on-mobile {
    display: block;
  }
}
@media (max-width: 991px) {
  .section {
    --section-spacer-y: 4rem;
  }
}
.header {
  padding: 0.75rem 0;
  background-color: var(--bs-gray-900);
  color: var(--bs-white);
}

.navbar-brand img {
<<<<<<< HEAD
  width: 17.5rem;
  height: auto;
=======
  max-width: 17.5rem;
>>>>>>> 0cf846ae6a5e58aa41610eb790cca555d2418e5e
}

.search-dropdown .dropdown-toggle {
  color: var(--bs-white);
}

.search-dropdown:hover .dropdown-toggle {
  color: #ffea00;
}

.search-dropdown .dropdown-toggle::after {
  content: none;
}

.search-dropdown .dropdown-toggle.show,
.search-dropdown .dropdown-toggle:active {
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;
}

.search-dropdown .dropdown-menu {
  --bs-dropdown-padding-y: 0;
  --bs-dropdown-font-size: inherit;
  --bs-dropdown-min-width: 11rem;
  left: auto;
  right: 0;
}

.search-dropdown .form-control {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: inherit;
}

.search-dropdown .btn-outline-secondary {
  --bs-btn-border-color: var(--bs-border-color);
}

@media (min-width: 992px) {
  .search-dropdown .form-control {
    --bs-border-color: transparent;
    min-width: 10rem;
  }
  .search-dropdown .form-control:focus {
    border-color: transparent;
    box-shadow: none;
  }
}
@media (max-width: 480px) {
  .navbar-brand img {
<<<<<<< HEAD
    width: 15rem;
=======
    max-width: 15rem;
>>>>>>> 0cf846ae6a5e58aa41610eb790cca555d2418e5e
  }
  .navbar-toggler {
    --bs-navbar-toggler-padding-x: 0;
  }
}
@media (max-width: 380px) {
  .navbar-brand img {
<<<<<<< HEAD
    width: 13.5rem;
=======
    max-width: 13.5rem;
>>>>>>> 0cf846ae6a5e58aa41610eb790cca555d2418e5e
  }
}
.menu > ul {
  display: flex;
  margin-bottom: 0;
}

.menu > ul > li > a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 1rem 1.5rem;
}

.menu > ul > li > a i {
  font-size: 0.75rem;
  line-height: 1.04;
}

.menu > ul > li > ul {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0.75rem;
  background-color: var(--bs-gray-900);
  margin: 0 auto;
  font-size: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24);
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 10px);
  transition: all 0.12s;
}

.menu > ul > li > ul.active {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  transition-duration: 0.3s;
}

.menu > ul > li > ul > li {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 25%;
  padding: 0.75rem;
}

.menu > ul > li > ul > li a {
  padding: 0.2em 0;
  font-size: 0.8rem;
}

.menu > ul > li > ul > li a:hover {
  color: #ffea00;
}

.menu > ul > li > ul > li > a {
  border-bottom: 1px solid #ccc;
  font-size: 0.9rem;
  font-weight: 500;
}

.menu > ul > li > ul > li > ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.menu > ul > li > ul > li > ul > li {
  font-size: 0.8em;
}

.menu > ul > li > ul.normal-sub {
  width: 220px;
  left: auto;
  padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}

.menu-mobile {
  display: none;
  padding: 20px;
  color: var(--bs-white);
}

.menu-mobile:hover {
  color: var(--bs-white);
}

.menu-mobile:after {
  content: "\f067";
  font-family: "FontAwesome";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-25%);
}

.footer {
  --bs-heading-color: var(--bs-white);
  position: relative;
  z-index: 1;
  background-color: var(--bs-gray-900);
  font-size: 0.9rem;
  color: var(--bs-gray-500);
}

.footer::before {
  content: "";
  position: absolute;
  right: 2rem;
  bottom: 3.5rem;
  z-index: -1;
  width: 12rem;
  height: 12rem;
  background: url("../img/logo.png") center/contain no-repeat;
  filter: grayscale(1) opacity(0.15) brightness(0.4);
}

.footer-logo img {
  width: 18.75rem;
}

.footer-list {
  gap: 0.75rem;
}

.img-lkpp {
  width: 7.5rem;
}

/*--------------------------------------------------------------
# Section Hero
--------------------------------------------------------------*/
.section-hero {
  height: calc(100vh - 6rem);
}

.hero-slide-img,
.hero-slide-img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-slide-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.hero-slide-img::after {
  content: "";
  background-color: color-mix(in srgb, var(--bs-gray-900) 60%, transparent);
}

.hero-slide-img + .container {
  position: relative;
  z-index: 1;
}

.hero-slide-content {
  color: var(--bs-white);
}

.hero-slide-content .h1 {
  --bs-heading-color: var(--bs-white);
}

.hero-slide-content p {
  font-size: 1.125rem;
  color: var(--bs-gray-300);
}

.hero-swiper .swiper-pagination-bullet {
  background-color: #fff;
}

.hero-swiper.swiper-horizontal > .swiper-pagination-bullets {
  --swiper-pagination-bottom: 24px;
}

/*--------------------------------------------------------------
# Section Partners
--------------------------------------------------------------*/
.section-partners h2 {
  letter-spacing: 1.2px;
}

.partners-swiper img {
  filter: grayscale(1);
  opacity: 0.5;
  transition: all 0.3s;
}

.partners-swiper img:hover {
  filter: grayscale(0);
  opacity: 1;
}

/*--------------------------------------------------------------
# Section Specialize
--------------------------------------------------------------*/
.section-specialize .card {
  --bs-card-bg: transparent;
}

.service-icon img {
  height: 3rem;
}

/*--------------------------------------------------------------
# Section Products
--------------------------------------------------------------*/
.section-products .nav {
  --bs-nav-link-font-size: 1rem;
}

/*--------------------------------------------------------------
# Section Customers
--------------------------------------------------------------*/
.customers-swiper img {
  filter: grayscale(1);
  opacity: 0.6;
  transition: all 0.3s;
}

.customers-swiper img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.customers-swiper .swiper-pagination {
  position: static;
  margin-top: 0.2rem;
}

/*--------------------------------------------------------------
# Section Instagram Feed
--------------------------------------------------------------*/
.instafeed-swiper .swiper-slide {
  display: flex;
  align-items: center;
  height: auto;
  background-color: var(--bs-gray-900);
  border-radius: var(--bs-border-radius);
  overflow: hidden;
}

.instafeed-swiper .card {
  --bs-card-border-radius: 0;
  --bs-card-inner-border-radius: 0;
}

@media (max-width: 575px) {
  .hero-slide-content .h1 {
    font-size: 1.65rem;
  }
  .hero-slide-content p {
    font-size: 1rem;
  }
}
@media (max-width: 991px) {
  .section-products .nav-item {
    width: max-content;
  }
  .section-products .nav-wrapper {
    overflow-x: auto;
  }
}
/*--------------------------------------------------------------
# Section Who We Are
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Section About Background
--------------------------------------------------------------*/
.section-aboutbackground {
  height: 80vh;
<<<<<<< HEAD
  background: url("../img/about/jpg/office-03.jpg") no-repeat center/cover fixed;
=======
  background: url("../img/office-03.jpg") no-repeat center/cover fixed;
>>>>>>> 0cf846ae6a5e58aa41610eb790cca555d2418e5e
}

/*--------------------------------------------------------------
# Section Our Values
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Section What We Do
--------------------------------------------------------------*/
.steps {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.steps::before {
  content: "";
  height: 100%;
  border-left: 2px solid #ccbb00;
  position: absolute;
  top: 0;
  left: calc(1rem - 1px);
  z-index: -1;
}

.step {
  display: flex;
  gap: 1rem;
}

.step-number {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  background-color: var(--section-bg);
  border: 2px solid #ccbb00;
  border-radius: 50%;
  font-weight: 600;
  color: var(--bs-heading-color);
}

/*--------------------------------------------------------------
# Section Awards
--------------------------------------------------------------*/
.lists::before {
  content: none;
}

/*--------------------------------------------------------------
# Section Our Team
--------------------------------------------------------------*/
.avatar img {
  max-width: 8rem;
}

/*--------------------------------------------------------------
# Section Our Customers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Section CTA
--------------------------------------------------------------*/
.section-aboutcta {
  --bs-heading-color: var(--bs-white);
  --section-color: var(--bs-gray-500);
  position: relative;
<<<<<<< HEAD
  background: url("../img/about/jpg/cta.jpg") no-repeat center/cover fixed;
=======
  background: url("../uploads/slider-4.jpg") no-repeat center/cover fixed;
>>>>>>> 0cf846ae6a5e58aa41610eb790cca555d2418e5e
}

.section-aboutcta .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 991px) {
  .section-gallery .nav-item {
    width: max-content;
  }
  .section-gallery .nav-wrapper {
    overflow-x: auto;
  }
}
.contact-info a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
