$color-orange: #ffea00;
$color-orange-shade-200: #ccbb00;
$color-orange-shade-200-rgb: 204, 187, 0;
$color-orange-shade-500: #807500;

$color-grey: #f5f5f5;
$color-grey-dark: #1f2937;

$font-family-primary: 'Inter', sans-serif;
$font-family-headings: 'Poppins', sans-serif;
